<div class="main-container" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex fxFlex.gt-sm="50%" fxLayout="row">
    <mat-card>
      <mat-card-header>
        <mat-card-title>This is my Home</mat-card-title>
        <mat-card-subtitle>My name is Dog</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage src="assets/pictures/dog.jpeg" />
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </mat-card-content>
    </mat-card>
  </div>
</div>
